{% extends "OVEAuthentificationBundle:Default:ove-base.html.twig" %}

{% block content %}

<br>

<div class="bg-danger">
  <span class="glyphicon glyphicon-remove"></span> Accès non autorisé sur cette page
</div>

{% endblock %}
